:root{
  --bgColor-page: #fcf6f0;
  --bgColor-text: #f2d3bb;
  --primary-color: #ff6f00;
  --secundary-color: #e65c00;
}

body {
  background-color: var(--bgColor-page);
}
.card {
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.bgColorTextSmall {
  background-color: var(--bgColor-text);
  border-radius: 5px;
  color: var(--primary-color) !important;
}

.icon-back{
  transition: color 0.2s;
}

.icon-back:hover{
  cursor: pointer;
  color: var(--primary-color) !important;
}

@media (max-width: 576px) {
  .card {
    margin-bottom: 1rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  .navbar-brand {
    font-size: 1rem;
  }
}

.bg-warning,
.btn-warning {
  background-color: var(--primary-color) !important; 
  border-color: var(--primary-color) !important;
}

.btn-warning:hover {
  background-color: var(--secundary-color) !important; 
  border-color: var(--secundary-color) !important;
}

.progress-bar.bg-warning {
  background-color: var(--primary-color) !important;
}
